<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Doc #<%= @doc.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Download</dt>
              <dd><a href="<%= @doc.url %>">Click Here</a></dd>

              <dt>Title</dt>
              <dd><%= @doc.title %></dd>

              <dt>Avg rating</dt>
              <dd><%= @doc.avg_rating %></dd>

              <dt>User</dt>
              <dd><%= @doc.user.email %></dd>

              <dt>Description</dt>
              <dd><%= @doc.description %></dd>

            </dl>
            <% if current_user.id == @doc.user.id %>
            <div class="btn-group btn-group-justified">

              <a href="/docs/<%= @doc.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_doc/<%= @doc.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if @rating != nil %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Rating</h3>
      </div>
      <div class="panel-body">
        <form action="/update_rating/<%= @rating.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for stars -->
          <div class="form-group">
            <label for="stars" class="col-sm-2 control-label">
              Stars
            </label>
            <div class="col-sm-10">
              <%= select_tag "stars",
              options_for_select([ 1,2,3,4,5 ], @rating.stars),
              { :class => 'form-control'} %>
            </div>
          </div>

          <!-- Label and input for comment -->
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">
              Comment
            </label>
            <div class="col-sm-10">
              <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"><%= @rating.comment %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Rating
              </button>
              or
              <a href="/ratings/<%= @rating.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% else %>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Rate this resource</h3></div>
      <div class="panel-body">
        <form action="/create_rating" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for stars -->
          <div class="form-group">
            <label for="stars" class="col-sm-2 control-label">
              Rate 1-5
            </label>
            <div class="col-sm-10">
              <select id="stars" name="stars" class="form-control">
                <option value="">Select Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
          </div>

          <!-- Label and input for comment -->
          <div class="form-group">
            <label for="comment" class="col-sm-2 control-label">
              Comment
            </label>
            <div class="col-sm-10">
              <textarea id="comment" name="comment" placeholder="Comment" class="form-control" rows="3"></textarea>
            </div>
          </div>

          <!-- Label and input for doc_id -->
          <div class="form-group">
            <div class="col-sm-10">
              <input type="hidden" id="doc_id" name="doc_id" placeholder="" class="form-control" value="<%= @doc.id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-success">
                Create Rating
              </button>
              or
              <a href="/docs/<%= @doc.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
    <% end %>
  </div>
</div>

<!-- End responsive panel example -->
